In [2]:
import matplotlib as plt
import seaborn as sb
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [3]:
bmw = pd.read_csv("bmw.csv")
bmw

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0
...,...,...,...,...,...,...,...,...,...
10776,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0
10777,5 Series,2016,14600,Automatic,42947,Diesel,125,60.1,2.0
10778,3 Series,2017,13100,Manual,25468,Petrol,200,42.8,2.0
10779,1 Series,2014,9930,Automatic,45000,Diesel,30,64.2,2.0
10780,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0

In [4]:
bmw.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [5]:

bmw1 = pd.DataFrame({"year":bmw["year"],"transmission":bmw["transmission"]})
bmw1=bmw1.groupby(["year","transmission"]).size().reset_index(name="count")
bmw_wide = bmw1.pivot(index="year", columns="transmission", values="count").fillna(0)
bmw_wide = bmw_wide.reset_index()

print(bmw_wide)

transmission  year  Automatic  Manual  Semi-Auto
0             1996        1.0     0.0        0.0
1             1997        0.0     1.0        0.0
2             1998        0.0     1.0        0.0
3             1999        1.0     3.0        0.0
4             2000        1.0     1.0        0.0
5             2001        1.0     2.0        0.0
6             2002        4.0     2.0        0.0
7             2003        2.0     0.0        0.0
8             2004        3.0     9.0        0.0
9             2005        3.0     3.0        0.0
10            2006        6.0     7.0        1.0
11            2007       10.0     6.0        0.0
12            2008       11.0    11.0        1.0
13            2009        9.0    20.0        1.0
14            2010       19.0    22.0        0.0
15            2011       26.0    25.0        0.0
16            2012       64.0    55.0        0.0
17            2013      128.0   166.0       63.0
18            2014      213.0   169.0      119.0
19            2015      367.0   303.0      252.0
20            2016      736.0   637.0      509.0
21            2017      644.0   405.0      672.0
22            2018      266.0   133.0      449.0
23            2019      997.0   483.0     2005.0
24            2020       76.0    63.0      594.0

In [6]:
x = bmw_wide[["year"]]
y = bmw_wide[["Automatic",'Manual','Semi-Auto']]

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
model =LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

print("mean_squared _value",mean_squared_error(y_test,y_pred))
print("r_2",r2_score(y_test,y_pred))

mean_squared _value 215001.4307961968
r_2 0.375759649298352